# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
#*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!custom_components/ui_lovelace_minimalist/__ui_minimalist__/ulm_templates/custom_templates

# Ignore folders.
.git
.storage
.cloud
.google.token
.ssh
.config
.aspnet
.local
.vscode
.cache
.fontconfig
.dbus
addons_config
tts
__pycache__
jellyfin/data
jellyfin/log
jellyfin/cache
notebooks
www/tmp
copiedCode
www/tileboard/scripts
gitignored
db
logs

#Node-Red
node-red/node_modules
node-red/node-red-contrib-home-assistant-websocket.json

#Zigbee2MQTT
zigbee2mqtt/log
zigbee2mqtt/state.json
zigbee2mqtt/database.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
octopusagile.json
html5_push_registrations.conf
sabnzbd.conf
ombi/Logs
ombi/Ombi.db
.gitignore
.bashrc
ombi/OmbiExternal.db
home-assistant.log.1
home-assistant.log.fault
.xorgxrdp.10.log
.cache/openbox/openbox.log
.Xauthority
.Xauthority-c
.Xauthority-l
.xorgxrdp.10.log.old
**/.DS_Store
music_assistant.db
/custom_components/fordpass/ford@kevinthorn.com_fordpass_token.txt
settings.json
*.icloud
core
esphome/.esphome-backup/ESP32_RS485_IoT_Gateway.yaml.json
esphome/.esphome-backup/esphome.json
esphome/.esphome-backup/shelly1l-basic.yaml.json
esphome/.esphome-backup/shelly1l-bathroom.yaml.json
esphome/.esphome-backup/shelly1l-bed-a.yaml.json
esphome/.esphome-backup/shelly1l-bed-b.yaml.json
esphome/.esphome-backup/shelly1l-bed-c.yaml.json
esphome/.esphome-backup/shelly1l-bed-e.yaml.json
esphome/.esphome-backup/shelly1l-ensuite.yaml.json
esphome/.esphome-backup/shelly1l-hallway-bottom.yaml.json
esphome/.esphome-backup/shelly1l-hallway-middle.yaml.json
esphome/.esphome-backup/shelly1l-kitchen1.yaml.json
esphome/.esphome-backup/shelly1l-kitchen2.yaml.json
esphome/.esphome-backup/shelly1l-lounge.yaml.json
esphome/.esphome-backup/shelly1l-study.yaml.json
esphome/.esphome-backup/build/rs485-iot/partitions.csv
esphome/.esphome-backup/build/rs485-iot/post_build.py
esphome/.esphome-backup/build/rs485-iot/README.txt
esphome/.esphome-backup/build/shelly1l-basic/post_build.py
esphome/.esphome-backup/build/shelly1l-basic/README.txt
esphome/.esphome-backup/build/shelly1l-bathroom/post_build.py
esphome/.esphome-backup/build/shelly1l-bathroom/README.txt
esphome/.esphome-backup/build/shelly1l-bed-a/post_build.py
esphome/.esphome-backup/build/shelly1l-bed-a/README.txt
esphome/.esphome-backup/build/shelly1l-bed-b/post_build.py
esphome/.esphome-backup/build/shelly1l-bed-b/README.txt
esphome/.esphome-backup/build/shelly1l-bed-c/post_build.py
esphome/.esphome-backup/build/shelly1l-bed-c/README.txt
esphome/.esphome-backup/build/shelly1l-bed-e/post_build.py
esphome/.esphome-backup/build/shelly1l-bed-e/README.txt
esphome/.esphome-backup/build/shelly1l-ensuite/post_build.py
esphome/.esphome-backup/build/shelly1l-ensuite/README.txt
esphome/.esphome-backup/build/shelly1l-hallway-bottom/post_build.py
esphome/.esphome-backup/build/shelly1l-hallway-bottom/README.txt
esphome/.esphome-backup/build/shelly1l-hallway-middle/post_build.py
esphome/.esphome-backup/build/shelly1l-hallway-middle/README.txt
esphome/.esphome-backup/build/shelly1l-kitchen-main/post_build.py
esphome/.esphome-backup/build/shelly1l-kitchen-main/README.txt
esphome/.esphome-backup/build/shelly1l-kitchen-utility/post_build.py
esphome/.esphome-backup/build/shelly1l-kitchen-utility/README.txt
esphome/.esphome-backup/build/shelly1l-lounge/post_build.py
esphome/.esphome-backup/build/shelly1l-lounge/README.txt
esphome/.esphome-backup/build/shelly1l-study/post_build.py
esphome/.esphome-backup/build/shelly1l-study/README.txt
esphome/.esphome-backup/idedata/rs485-iot.json
esphome/.esphome-backup/idedata/shelly1l-basic.json
esphome/.esphome-backup/idedata/shelly1l-bathroom.json
esphome/.esphome-backup/idedata/shelly1l-bed-a.json
esphome/.esphome-backup/idedata/shelly1l-bed-b.json
esphome/.esphome-backup/idedata/shelly1l-bed-c.json
esphome/.esphome-backup/idedata/shelly1l-bed-e.json
esphome/.esphome-backup/idedata/shelly1l-ensuite.json
esphome/.esphome-backup/idedata/shelly1l-hallway-bottom.json
esphome/.esphome-backup/idedata/shelly1l-hallway-middle.json
esphome/.esphome-backup/idedata/shelly1l-kitchen-main.json
esphome/.esphome-backup/idedata/shelly1l-kitchen-utility.json
esphome/.esphome-backup/idedata/shelly1l-lounge.json
esphome/.esphome-backup/idedata/shelly1l-study.json
esphome/.esphome-backup/trash/ESP32_RS485_IoT_Gateway.yaml
data/core.area_registry
data/core.device_registry
