# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
#*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.git
.storage
.cloud
.google.token
tts

#Node-Red
node-red/node_modules
node-red/node-red-contrib-home-assistant-websocket.json

#Zigbee2MQTT
zigbee2mqtt/log
zigbee2mqtt/state.json

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
octopusagile.json
html5_push_registrations.conf
sabnzbd.conf
zigbee2mqtt/database.db
zigbee2mqtt/state.json
jellyfin/data/metadata