[submodule "custom_components/ui_lovelace_minimalist"]
	path = custom_components/ui_lovelace_minimalist
	url = https://github.com/kepath/UI/blob/0630b26e2621c386e8b5591922e3d2458616de03/custom_components/ui_lovelace_minimalist
