# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
#*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!custom_components/ui_lovelace_minimalist/__ui_minimalist__/ulm_templates/custom_templates

# Ignore folders.
.git
.storage
.cloud
.google.token
.ssh
.config
.aspnet
.local
.vscode
.cache
.fontconfig
.dbus
addons_config
tts
__pycache__
jellyfin/data
jellyfin/log
jellyfin/cache
notebooks
www/tmp
copiedCode
www/tileboard/scripts
gitignored
/data
db
logs
custom_components/ui_lovelace_minimalist/__ui_minimalist__

#Node-Red
node-red/node_modules
node-red/node-red-contrib-home-assistant-websocket.json

#Zigbee2MQTT
zigbee2mqtt/log
zigbee2mqtt/state.json
zigbee2mqtt/database.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
octopusagile.json
html5_push_registrations.conf
sabnzbd.conf
ombi/Logs
ombi/Ombi.db
.gitignore
.bashrc
ombi/OmbiExternal.db
home-assistant.log.1
home-assistant.log.fault
.xorgxrdp.10.log
.cache/openbox/openbox.log
.Xauthority
.Xauthority-c
.Xauthority-l
.xorgxrdp.10.log.old
**/.DS_Store
music_assistant.db
/custom_components/fordpass/ford@kevinthorn.com_fordpass_token.txt
settings.json
*.icloud
core
esphome/.esphome-backup/*
data/core.area_registry
data/core.device_registry
.gitignore
zigbee2mqtt
zigbee.db
zigbee.db-shm
zigbee.db-wal
home-assistant-rollback.log
icloud3*.log
esphome/firmware/flasher/*
