---
substitutions:
  device_name: "shellykitchenmain"
  friendly_name: "Shelly Light Switch Kitchen"
  area: "kitchen"
  light1_icon: "mdi:light-recessed"
  light2_icon: "mdi:lightbulb-fluorescent-tube"
  device_ip: "14"
  ssid: !secret "not_wifi_ssid"
  log_level: "DEBUG"
  max_temp: "80.0"  # Centigrade

# Common Include
<<: !include "includes/shelly_1l_common.yaml"

# Extended Config
light:
  - platform: "binary"
    name: "${device_name}_light_1"
    output: "${device_name}_shellyrelay1"
    id: "${device_name}_lightid1"
    icon: "${light1_icon}"

  - platform: "binary"
    name: "${device_name}_light_2"
    output: "${device_name}_shellyrelay1"
    id: "${device_name}_lightid2"
    icon: "${light2_icon}"

output:
  - platform: "gpio"
    pin: "GPIO5"
    id: "${device_name}_shellyrelay1"

binary_sensor:
  # =====================common binary_sensor
  - platform: "status"
    name: "${device_name}_status"
    device_class: "connectivity"
    filters:
      - delayed_off: "5min"
  # =====================common binary_sensor

  - platform: "gpio"
    pin:
      number: "GPIO4"
    name: "${device_name}_switch_1"
    id: "${device_name}_switchid1"
    on_state:
      then:
        - light.toggle: "${device_name}_lightid1"
    filters:
      - delayed_on_off: "50ms"

  - platform: "gpio"
    pin:
      number: "GPIO14"
    name: "${device_name}_switch_2"
    id: "${device_name}_switchid2"
    on_state:
      then:
        - light.toggle: "${device_name}_lightid2"
    filters:
      - delayed_on_off: "50ms"
    # disabled_by_default: true
