---
substitutions:
  device_name: "shellykitchenmain"
  friendly_name: "Shelly Light Switch Kitchen Main"
  area: "kitchen"
  light1_icon: "mdi:light-recessed"
  light2_icon: "mdi:lightbulb-fluorescent-tube"
  device_ip: "14"
  ssid: !secret "not_wifi_ssid"
  log_level: "DEBUG"
  max_temp: "80.0"  # Centigrade

# Common Include
<<: !include "includes/shelly_1l_common.yaml"

# Extended Config - only use when overwriting values in include
# Note: the entire light and binary_sensor blocks will be overwritten

light:
  - platform: "binary"
    name: "${device_name}_light_1"
    output: "${device_name}_shellyrelay1"
    id: "${device_name}_lightid1"
    icon: "${light1_icon}"

  - platform: "binary"
    name: "${device_name}_light_2"
    output: "${device_name}_shellyrelay1"
    id: "${device_name}_lightid2"
    icon: "${light2_icon}"

output:
  - platform: "gpio"
    pin: "GPIO5"
    id: "${device_name}_shellyrelay1"

  # - platform: "template"
  #   type: "binary"
  #   id: "ha_script"
  #   write_action:
  #     then:
  #       - homeassistant.service:
  #           service: "script.back_light_toggle"

binary_sensor:
  - platform: "status"
    name: "${device_name}_status"
    icon: "mdi:web-check"
    device_class: "connectivity"
    filters:
      - delayed_off: "5min"

  - platform: "gpio"
    pin:
      number: "GPIO4"
    name: "${device_name}_switch_1"
    id: "${device_name}_switchid1"
    icon: "mdi:light-switch"
    on_state:
      then:
        - light.toggle: "${device_name}_lightid1"
    filters:
      - delayed_on_off: "50ms"

  - platform: "gpio"
    pin:
      number: "GPIO14"
    name: "${device_name}_switch_2"
    id: "${device_name}_switchid2"
    icon: "mdi:light-switch"
    on_state:
      then:
        - light.toggle: "${device_name}_lightid2"
    filters:
      - delayed_on_off: "50ms"
