---
# ingress:
  # convertx_addin:
  # it_tools_addin:
  # moodist_addin:
  # overseerr_addin:
  # plex_addin:
  # uptime_kuma_addin:
  # unifi_local:
  #   work_mode: "iframe"
  #   ui_mode: "normal"
  #   title: "Unifi"
  #   icon: "mdi:router-network"
  #   url: "https://unifi.ui.com/"

ingress:
  tabs_development:
    work_mode: "custom" # MUST
    url: "/files/ingress/ha-tabs-ingress.js" # MUST
    title: "Dev Add-ins"
    ui_mode: "replace"
    icon: "mdi:application-braces"
  esphome:
    parent: "tabs_development"
    work_mode: "hassio"
    title: "ESPHome"
    icon: "simple-icons:esphome"
    url: "5c53de3b_esphome"
  studio_code_server:
    parent: "tabs_development"
    work_mode: "hassio"
    title: "VS Code"
    icon: "simple-icons:coder"
    url: "a0d7b954_vscode"
  hacs:
    parent: "tabs_development"
    work_mode: "iframe"
    ui_mode: "toolbar"
    title: "HACS"
    icon: "simple-icons:homeassistantcommunitystore"
    url: "/hacs/dashboard"
  # hacsproxy:
  #   parent: "tabs_development"
  #   work_mode: "ingress"
  #   ui_mode: "normal"
  #   title: "HACS"
  #   icon: "simple-icons:homeassistantcommunitystore"
  #   url: "/api/ingress/hacsredirect"
  #   static_token: !secret "ha_statuc_key_hacs_ingress"
  #   headers:
  #     authorization: !secret "ha_statuc_key_hacs_ingress"
  netalertx:
    parent: "tabs_development"
    work_mode: "hassio"
    title: "NetAlertX"
    # icon: "mdi:wifi-check"
    url: "db21ed7f_netalertx_fa"
  it_tools:
    parent: "tabs_development"
    title: "IT-Tools"
    # icon: "mdi:tools"
    url: "http://homeassistant.aot:5789"
    #   url: "http://127.0.0.1:5789"
    headers:
      X-Script-Name: $http_x_ingress_path
      Origin: $auto
    rewrite:
      # fix no directory REST links
      - mode: "body"
        match: href="/*([\S]+)"
        replace: href="$http_x_ingress_path/\1"
      - mode: "body"
        match: src="/*([\S]+)"
        replace: src="$http_x_ingress_path/\1"
      # rewrite root files
      - mode: "body"
        match: \/sw.js
        replace: $http_x_ingress_path/sw.js
      # MIME type correction (if needed for CSS/JS responses)
      - mode: "header"
        path: \.css$
        name: "Content-Type"
        match: "text/plain"
        replace: "text/css"
  cyberchef:
    parent: "tabs_development"
    work_mode: "hassio"
    title: "CyberChef"
    # icon: "mdi:chef-hat"
    url: "2effc9b9_cyberchef"
  convertx:
    parent: "tabs_development"
    title: "ConvertX"
    # icon: "mdi:alpha-x-circle"
    url: "http://convertx.aot"
    #   url: "http://127.0.0.1:8478"
    rewrite:
      - mode: "body"
        match: href="/"
        replace: href="$http_x_ingress_path/"
      - mode: "body"
        match: href="/history"
        replace: href="$http_x_ingress_path/history"
      # rewrite root files
      - mode: "body"
        match: \/generated.css
        replace: $http_x_ingress_path/generated.css
  my_ip:
    parent: "tabs_development"
    title: "My-IP"
    # icon: "mdi:ip"
    url: "http:///homeassistant.aot:18966"



  tabs_admin:
    work_mode: "custom" # MUST
    url: "/files/ingress/ha-tabs-ingress.js" # MUST
    title: "Admin Add-ins"
    icon: "mdi:account-wrench"
  guacamole:
    parent: "tabs_admin"
    work_mode: "hassio"
    title: "Guacamole"
    icon: "simple-icons:apacheguacamole"
    url: "db21ed7f_guacamole"
  portainer:
    parent: "tabs_admin"
    work_mode: "hassio"
    title: "Portainer"
    icon: "simple-icons:portainer"
    url: "db21ed7f_portainer"
  phpmyadmin:
    parent: "tabs_admin"
    work_mode: "hassio"
    title: "phpMyAdmin"
    icon: "simple-icons:phpmyadmin"
    url: "a0d7b954_phpmyadmin"
  advanced_ssh:
    parent: "tabs_admin"
    work_mode: "hassio"
    title: "SSH"
    icon: "mdi:ssh"
    url: "a0d7b954_ssh"
  adguard:
    parent: "tabs_admin"
    work_mode: "hassio"
    title: "AdGuard"
    icon: "simple-icons:adguard"
    url: "a0d7b954_adguard"
  browser_mod:
    parent: "tabs_admin"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Browser Mod"
    # icon: "simple-icons:firefoxbrowser"
    url: "/browser-mod"
  # nginx_proxy_manager:
  #   parent: "tabs_admin"
  #   title: "Nginx Proxy Manager"
  #   icon: "simple-icons:nginxproxymanager"
  #   url: "http://127.0.0.1:81"



  tabs_diagnostics:
    work_mode: "custom" # MUST
    url: "/files/ingress/ha-tabs-ingress.js" # MUST
    title: "Diagnostic Add-ins"
    icon: "mdi:stethoscope"
  uptime_kuma:
    parent: "tabs_diagnostics"
    title: "Uptime Kuma"
    icon: "simple-icons:uptimekuma"
    url: "http:///homeassistant.aot:3001"
    #   url: "http://127.0.0.1:3001"
    index: "/dashboard"
    rewrite:
    # Fix HTML asset references
      - mode: body
        path:  /.*
        match: '((?:href|src|action|data|poster|srcset)=")(/(?!api/ingress|http)[^"]+)(")'
        replace: "\\1$http_x_ingress_path\\2\\3"

      # Fix CSS url() - separate pattern to preserve url(
      - mode: body
        path: /.*
        match: "(url\\()(['\"]?)(/(?!api/ingress|http)[^'\")]+)(\\2)(\\))"
        replace: "\\1\\2$http_x_ingress_path\\3\\4\\5"
      # - mode: "body"
      #   match: href="/*([\S]+)"
      #   replace: href="$http_x_ingress_path/\1"
      # - mode: "body"
      #   match: src="/*([\S]+)"
      #   replace: src="$http_x_ingress_path/\1"
      # - mode: "body"
      #   match: data="/*([\S]+)"
      #   replace: data="$http_x_ingress_path/\1"
      # - mode: "body"
      #   match: (/socket\.io/)
      #   replace: /$http_x_ingress_path/\1/
      # - mode: "header"
      #   match: /(socket\.io)/
      #   replace: /$http_x_ingress_path/\1/
  emqx:
    parent: "tabs_diagnostics"
    work_mode: "hassio"
    title: "EMQX"
    icon: "simple-icons:mqtt"
    url: "a0d7b954_emqx"
  scrutiny:
    parent: "tabs_diagnostics"
    work_mode: "hassio"
    title: "Scrutiny (Full Access)"
    icon: "mdi:glasses"
    url: "db21ed7f_scrutiny_fa"
  influxdb:
    parent: "tabs_diagnostics"
    work_mode: "hassio"
    title: "InfluxDB"
    icon: "simple-icons:influxdb"
    url: "a0d7b954_influxdb"
  grafana:
    parent: "tabs_diagnostics"
    work_mode: "hassio"
    title: "Grafana"
    icon: "simple-icons:grafana"
    url: "a0d7b954_grafana"
  matter_server:
    parent: "tabs_diagnostics"
    work_mode: "hassio"
    title: "Matter Server"
    icon: "m3of:matter"
    url: "core_matter_server"
  # matterbridge:
  #   parent: "tabs_diagnostics"
  #   work_mode: "hassio"
  #   title: "MatterBridge"
  #   icon: "simple-icons:homebridge"
  #   url: "246dd49f_matterbridge"
  # netdata:
  #   parent: "tabs_diagnostics"
  #   work_mode: "hassio"
  #   title: "Netdata"
  #   icon: "simple-icons:netdata"
  #   url: "47146a2b_netdata"



  tabs_media:
    work_mode: "custom" # MUST
    url: "/files/ingress/ha-tabs-ingress.js" # MUST
    title: "Media Add-ins"
    icon: "mdi:multimedia"
  music_assistant_server:
    parent: "tabs_media"
    work_mode: "hassio"
    title: "Music Assistant Server"
    # icon: "simple-icons:applemusic"
    url: "d5369777_music_assistant"
  media_browser:
    parent: "tabs_media"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Media Browser"
    # icon: "simple-icons:vlcmediaplayer"
    url: "/media-browser/browser"
  moodist:
    parent: "tabs_media"
    title: "Moodist"
    # icon: "mdi:headphones"
    url: "http:///homeassistant.aot:8458"
    #   url: "http://127.0.0.1:8458"
    rewrite:
      # rewrite folders
      - mode: "body"
        match: /(_astro|fonts|sounds)/
        replace: $http_x_ingress_path/\1/
      # rewrite logo
      - mode: "body"
        match: \/logo.svg
        replace: $http_x_ingress_path/logo.svg
      # rewrite root files
      - mode: "body"
        match: \/sw.js
        replace: $http_x_ingress_path/sw.js
      - mode: "body"
        match: \/logo-light.png
        replace: $http_x_ingress_path/logo-light.png
      # MIME type correction (if needed for CSS/JS responses)
      - mode: "header"
        path: \.css$
        name: "Content-Type"
        match: "text/plain"
        replace: "text/css"
  5etools:
    parent: "tabs_media"
    work_mode: "hassio"
    title: "5e Tools"
    icon: "simple-icons:dungeonsanddragons"
    url: "2effc9b9_5etools"
  calibre_web:
    parent: "tabs_media"
    work_mode: "hassio"
    title: "Calibre Web"
    # icon: "simple-icons:calibreweb"
    url: "db21ed7f_calibre"



  tabs_organisation:
    work_mode: "custom" # MUST
    url: "/files/ingress/ha-tabs-ingress.js" # MUST
    title: "Organisation Add-ins"
    icon: "simple-icons:openmediavault"
  ha_map:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Map"
    # icon: "mdi:history"
    url: "/map"
  ha_logbook:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Logbook"
    # icon: "mdi:book-open-variant"
    url: "/logbook"
  ha_history:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "History"
    # icon: "mdi:history"
    url: "/history"
  ha_calendar:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Calendar"
    # icon: "mdi:calendar-month"
    url: "/calendar"
  ha_todo:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "ToDo"
    # icon: "mdi:checkbox-outline"
    url: "/todo"
  homebox:
    parent: "tabs_organisation"
    title: "Homebox"
    # icon: "mdi:folder-home"
    url: "http://127.0.0.1:8578"
  ha_home_maintenance:
    parent: "tabs_organisation"
    work_mode: "iframe"
    # ui_mode: "replace"
    title: "Home Maintenance"
    # icon: "mdi:home-edit"
    url: "/home-maintenance"
  monica:
    parent: "tabs_organisation"
    # work_mode: "iframe"
    # ui_mode: "replace"
    title: "Monica"
    # icon: "simple-icons:openproject"
    url: "http:///homeassistant.aot:8849"

  openproject:
    parent: "tabs_organisation"
    title: "Open Project"
    # icon: "simple-icons:openproject"
    url: "http:///homeassistant.aot:8579"
  silverbullet:
    parent: "tabs_organisation"
    title: "Silver Bullet"
    # icon: "mdi:flower-poppy"
    url: "http:///homeassistant.aot:8538"